/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/* COMMON */
.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* MAIN */
.col.users {
    height: calc(100% - 100px);
    background-color: #000000;
    padding: 60px 10px;
}

.user {
    width: calc(100% / 7);
    position: relative;
    
    border: 5px solid #000000;
}

.user > img {
    height: 100%;
    object-fit: cover;
}

.tag {
    color: #FFFFFF;
    background-color: rgba(193, 193, 193, 0.3);
    padding: 8px;
    font-size: .8rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tag-speaker-view {
    background-color: rgba(193, 193, 193, 0.3);
    border-radius: 5px;
    padding: 8px;
    font-size: .8rem;
    position: absolute;
    top: 5px;
    right: 40px;
}

.tag-speaker-arrows {
    background-color: rgba(193, 193, 193, 0.3);
    border-radius: 5px;
    padding: 8px;
    font-size: .8rem;
    position: absolute;
    top: 5px;
    right: 5px;
}


.col.tools {
    width: 100%;
    height: 100px;
    background-color: #222222;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    color: #FFFFFF;
}

.nav-left {
    width: 25%;
    padding: 20px;
}

.nav-left ul {
    align-items: center;
}

.nav-left li {
    padding-left: 10px;
}

.nav-center {
    padding: 20px;
}

.nav-center ul {
    align-items: center;
}

.nav-center li {
    padding-left: 10px;
}

.nav-right{
    width: 150px;
    background-color: #4a4a4a;
    justify-content: center;
    align-items: center;
}

.nav-right a {
    color: #ff0000;
}

.icons-img {
    font-size: 2rem;
    margin-bottom: 8px;
    text-align: center;
}

.icons-img.green {
    color: #4cc803;
}

.icons-text {
    text-align: center;
}